* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    font-size: 1.7vw;
}

.bookingsOverview {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.header {
    background-color: #16a085;
    display: flex;
    box-shadow: 0 2px 5px 0 #cecece;
    align-items: center;
    justify-content: space-between;
}

.adminBooker {
    background-color: lightgrey;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-top: 20px;
}

.createBooking {
    border-top: 1px black solid;
    margin-top: 20px;
    text-align: center;
}

#delete-booking {
    width: 200px;
    margin: 0;
    background-color: #d11a2a;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    font-weight: 700;
    color: white;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: white;
}

.header h2 {
    margin: 0 1vw;
    padding: 1.5vw 0;
    color: white;
}

.navlink {
    font-size: 1.9vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid;
}

.navlink:hover {
    font-weight: 800;
    border-bottom: 3px solid;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.splash img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.splashcontent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
.splashheader {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.8);
    margin-top: 20vh;
}

.registration,
.login {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reglog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reglogform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.already {
    font-size: 20px;
}

#termspointer {
    cursor: pointer;
}

#csvlink {
    display: inline-block;
}

#csvlink:hover {
    font-weight: 700;
}

#csv-icon {
    width: 3vw;
}

#csvtext {
    margin-right: 1vw;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 2vh;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

button {
    margin-top: 28px;
    width: 180px;
    height: 48px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 22px;
    padding: 0.5vw;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

button:hover,
button:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.stands {
    display: flex;
    justify-content: space-around;
}

.selectstandsbutton {
    margin-top: 10px;
    margin-bottom: 20px;
}

#selectbookingsbutton {
    margin-left: 15px;
}

#overlaycontent {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    /* bottom: 30px; */
    min-height: 80%;
    max-height: 81%;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eeeeee;
    border-radius: 4px;
}

#overlaybackground {
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5em;
    height: 1em;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.overlaytextupper {
    margin-top: 150px;
}

.booth_icon {
    height: 200px;
    /* width: 200px; */
}

.weeks {
    display: flex;
    justify-content: space-evenly;
}

#clickonavailable {
    margin-left: 1vw;
}

#completebooking {
    width: 300px;
}

.disclaimer {
    margin: 30px;
}

.highlightcolor {
    color: #16a085;
}

.highlightcolorlarge {
    color: #16a085;
    font-size: 4vw;
}

.component {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    font-size: 1.5vw;
}

th,
td {
    padding: 1vw;
}

.bookedout {
    width: 7em;
    height: 7em;
    background-color: #fd9f1b;
    color: white;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff,
        0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    margin: 2em auto;
    padding: 0.4em 0.2em;
    text-align: center;
}

.splashapp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.splashappheader {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

/* calendar styling */
time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    margin: 2em auto;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff,
        0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

time.icon:hover,
time.icon:focus {
    -webkit-animation: swing 0.6s ease-out;
    animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg) skewY(0deg);
    }
    20% {
        -webkit-transform: rotate(12deg) skewY(4deg);
    }
    60% {
        -webkit-transform: rotate(-9deg) skewY(-3deg);
    }
    80% {
        -webkit-transform: rotate(6deg) skewY(-2deg);
    }
    100% {
        -webkit-transform: rotate(0deg) skewY(0deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(0deg) skewY(0deg);
    }
    20% {
        transform: rotate(12deg) skewY(4deg);
    }
    60% {
        transform: rotate(-9deg) skewY(-3deg);
    }
    80% {
        transform: rotate(6deg) skewY(-2deg);
    }
    100% {
        transform: rotate(0deg) skewY(0deg);
    }
}
/* calendar styling end*/
